@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles  */

.display-flex{
    display: flex;
}


.bg-1{
    background-color: rgba(255, 255, 255, 1);
}

.color-orange{
    color: rgba(254, 163, 1, 1);
}

.color-sky-blue{
    color: rgba(1, 172, 253, 1);
}

.display-none{
    display: none;
}



/* body  section  */

body{
    width: 81%;
    margin: 0 auto;
}

/* header styles  */


/* nav styles   */

nav{
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    align-items: center;
}

.nav-school{
    color: rgba(17, 17, 17, 1);
    font-size: 2rem;
    font-weight: 800;
}

.nav-img{
    margin-right: 0.7rem;
    max-width: 62px;
    max-height: 62px;
}

/* .nav-items{
    
} */

.nav-lists li:first-child{
    color: rgba(254, 163, 1, 1);
}
.nav-lists li:nth-child(2){
    color: rgba(1, 172, 253, 1);
}
.nav-lists li:nth-child(3){
    color: rgba(5, 212, 223, 1);
}
.nav-lists li:nth-child(4){
    color:rgba(93, 88, 239, 1);
}


.nav-list{
    list-style-type: none;
    margin-right: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
}


.nav-contact{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(254, 163, 1, 1);
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0.83rem 5rem;
    border-radius: 1rem;
}


.nav-icon{
    display: none;
}






/* banner styles  */


.banner{
    margin-top: 1.25rem;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
}


.banner-title{
    font-weight: 800;
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 1);
}

.banner-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 1);
}

.banner-btn{
    background-color: rgba(17, 17, 17, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 47px;
    border-radius: 12px;

}

.banner-child-img{
    max-width: 470px;
}






/* responsive  */

@media screen and (max-width:576px){
    .nav-contact,
    .nav-items,
    .nav-school
    {
        display: none;
    }

    body{
        width: 90%;
        margin: 12px auto;
    }

 

    .nav-icon{
        display: contents;
        width: 30px;
        height: 30px;
    }

    .nav-icon-img{
        width: 30px;
        height: 30px;
    }


    .banner{
        flex-direction: column-reverse;
        gap: .5rem;
    }
    .banner-details{
        /* align-items: center; */
        text-align: center;
    }

    .banner-child-img{
        max-width: 340px;
    }

    .banner-title{
        font-size: 2rem;
    }

    .banner-description{
        font-size: .92rem;
    }


}

