@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles  */

.display-flex{
    display: flex;
}


.bg-1{
    background-color: rgba(255, 255, 255, 1);
}

.color-orange{
    color: rgba(254, 163, 1, 1);
}

.color-sky-blue{
    color: rgba(1, 172, 253, 1);
}

.display-none{
    display: none;
}


.section-title{
    color: rgba(0, 0, 0, 1);
    font-weight: 800;
    font-size: 1.88rem;
    text-align: center;
    margin-top: 3.75rem;
    /* margin-bottom: 5rem; */
}



/* body  section  */

body{
    width: 100%;
    margin: 0 auto;
}

/* header styles  */

.marq{
    padding: 30px 0px;
    color: aqua;
  
}

/* nav styles   */

nav{
    justify-content: space-between;
    align-items: center;
    padding: 0 140px;
}

.nav-title{
    align-items: center;
}

.nav-school{
    color: rgba(17, 17, 17, 1);
    font-size: 2rem;
    font-weight: 800;
}

.nav-img{
    margin-right: 0.7rem;
    max-width: 62px;
    max-height: 62px;
}
/* .hel{
    display: none;
} */
/* .nav-items{
    
} */

.nav-lists li:first-child{
    color: rgba(254, 163, 1, 1);
}
.nav-lists li:nth-child(2){
    color: rgba(1, 172, 253, 1);
}
.nav-lists li:nth-child(3){
    color: rgba(5, 212, 223, 1);
}
.nav-lists li:nth-child(4){
    color:rgba(93, 88, 239, 1);
}


.nav-list{
    list-style-type: none;
    margin-right: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
}


.nav-contact{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(254, 163, 1, 1);
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0.83rem 5rem;
    border-radius: 1rem;
}


.nav-icon{
    display: none;
}






/* banner styles  */


.banner{
    padding: 0 140px;
    margin-top: 1.25rem;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
  
}


.banner-title{
    font-weight: 800;
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 1);
}

.banner-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 1);
}

.banner-btn{
    background-color: rgba(17, 17, 17, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 47px;
    border-radius: 12px;

}

.banner-child-img{
    max-width: 470px;
}



 /* curicullam sectiion  */


.curriculam{
    padding: 0 140px;
    margin: 0 auto;
    background-image: url(../Assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cur-card-container{
  display:  grid;
  /* justify-content: space-between; */
  grid-template-columns: repeat(3,1fr);
  gap: 1.8rem;
  justify-content: space-between;
  align-items: center;
  
}

.cur-card{
    max-width: 367px;
    text-align: center;
    padding:50px 40px ;
    border-radius: 19px;
    
}

.l-grad-1{
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    box-shadow: 2px 2px 8px rgba(222, 245, 255, 1);
    
}
.l-grad-2{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0)40%);
    box-shadow: 2px 2px 8px rgba(255, 244, 220, 1);
}
.l-grad-3{
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    box-shadow: 2px 2px 8px rgba(238, 225, 255, 1);
}

.cur-img{
    width: 137px;
    height: 137px;
}

.cur-card-title{
    font-weight: 800;
    font-size: 1.53rem;
    color: rgba(32, 32, 32, 1);
}

.cur-card-description{
    font-size: 0.98rem;
    font-weight: 600;
    color: rgba(128, 128, 128, 1);
}

.cur-btn{
    border: none;
    background-color: white;
    font-size: 0.98rem;
    font-weight: 800;
    
}

.btn-c-1{
    color: rgba(100, 200, 255, 1);
}

.btn-c-2{
    color: rgba(240, 170, 0, 1);
}

.btn-c-3{
    color: rgba(135, 0, 255, 1);
}

.next-btns{
    justify-content: center;

    margin-top: 80px;
}

.next-btn{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(254, 163, 1, 1);
    margin-right: 10px;
    border: none;
    padding: 17px 22px;
    border-radius: 40px;
}





/* stories section  */
.stories{
    padding: 40px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('../Assets/bg.png'); */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 0%, rgba(254, 163, 1, 0.2) 100%), url('../Assets/bg.png'); 

    /* background: linear-gradient(to bottom, white, yellow); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    
    
}


.stories-container{
   display: grid;
   justify-content: space-between;
   align-items: safe;
   
   gap: 1.2rem;
    grid-template-columns: 2fr 1fr 1fr;
   grid-template-areas: 
   "card1 card2 card3"
   "card1 card4 card5"
   ;
}
.stories-container > div {
    background-color: white;
    border-radius: 1rem;
    margin: 40px auto;
    
}
.stories-card1{
    /* max-width:640px ;
    height: 630px; */
    
    grid-area: card1;
}
.stories-card2{
    /* max-width: 290px;
    height: 301px; */
    
    grid-area: card2;
}
.stories-card3{
    /* max-width: 290px;
    height: 301px; */
    grid-area: card3;
}
.stories-card4{
    /* max-width: 290px;
    height: 301px; */
    grid-area: card4;
}
.stories-card5{
    /* max-width: 290px;
    height: 301px; */
    grid-area: card5;
}



.stories-title{
    font-size: 1.5rem;
    font-weight: 800;
    color: rgba(0, 0, 0, 1);
   
}


/* .storie1,.storie{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
} */

.stories-description{
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}

.stories-title1{
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
    font-weight: 800;
}

.s-img1 ,.s-img{
   
    width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}


.storie1{
    padding: 0.4rem 1.5rem;
    margin: 0;
    
}

.storie{
    padding: 1rem 2rem;
}

.stores-btn{
    border: none;
    background-color: black;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    padding: 10px 61px;
    

}

.btn-1{
    color: rgba(255, 255, 255, 1);
    border: none;
    background-color: rgba(60, 216, 232, 1);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 48px;
    padding: 16px 20px;
    margin: 0;
    position: relative;
    top: -40px;

}

.btn-2{
    color: rgba(255, 255, 255, 1);
    border: none;
    background-color: rgba(149, 178, 38, 1);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3rem;
    padding: 10px 12px;
    margin: 0;
    position: relative;
    top: -46px;
}



/* footer section  */

footer{
    background-color: rgba(1, 172, 253, 1);

}

.footer-container{
   
    padding: 7% ;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items:start;
    gap: 70px;
}

.f{
    display: flex;
    align-items:center;
}

.foot-title{
    padding: 0;
    margin: 0;
    font-size: 2.6rem;
    font-weight: 800;
    color: white;
}

.foot-des{
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
}

.abt-school{
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}

.ab-item{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.t-title{
    color: white;
    font-size: 1.3rem;
    font-weight: 800;
}

.foot-img{
    height: 40px;
    width: 40px;
    margin: 0;
    border-radius: 4px;
}




/* responsive for mobile */

@media screen and (max-width:576px){
    .nav-contact,
    .nav-items,
    .nav-school,
    .next-btns
    {
        display: none;
    }

    body{
        width: 90%;
        margin: 10px auto;
    }

    nav{
        padding: 0 10px;
    }

    .nav-icon{
        display: contents;
        width: 30px;
        height: 30px;
    }

    .nav-icon-img{
        width: 30px;
        height: 30px;
    }

   


    .banner{
        flex-direction: column-reverse;
        gap: .5rem;
        padding: 0 0px;
    }
    .banner{
        
        margin-top: 1.25rem;
        justify-content: space-between;
        gap: 4rem;
        align-items: center;
      
    }
    .banner-details{
        /* align-items: center; */
        text-align: center;
    }

    .banner-child-img{
        max-width: 340px;
    }

    .banner-title{
        font-size: 2rem;
    }

    .banner-description{
        font-size: .92rem;
    }

    /* curcicullam section  */

    .cur-card-container{
        align-items: center;
        grid-template-columns: repeat(1,1fr);
    }

    .curriculam{
        padding: 0 10px;
    } 
    
    .stories{
        margin: 0;
        padding: 0 auto;
    }

    .stories-card1 {
        display: none;
    }

    .stories-container{
        
        justify-content: center;
        align-items:safe;
         grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "card2 card3"
        "card4 card5"
        ;
     }
     .stores-btn{
       
      
        font-size: 1rem;
      
        padding: 0px 30px;
        
    
    }
     .btn-2{
        font-size: 9px;
        padding: 5px 11px;
        top: -30px;
        left: -10px;
    }

     .footer-container{
        grid-template-columns: repeat(1,1fr);
        padding: 4% ;
     }

 


}

@media screen and (width>576px) {
    hr{
        display: none;
    }
}
